body {
  /* background-color: #01171b; */
  background: #2b3031;
}

.country {
  /* fill: #00394f; */
  /* stroke: rgb(65, 65, 65); */
  stroke-width: 'none';
}

.country:hover {
  transition: 0.4s;
  cursor: pointer;
  opacity: 0.85;
}

.legend {
  fill: white;
  font-size: 1rem;
  z-index: 20;
}

.legend_title {
  font-size: 1.3rem;
  fill: white;
  font-weight: bold;
}
