body {
  background: #2b3031;
}

.country {
  stroke-width: 'none';
}

.country:hover {
  transition: 0.4s;
  cursor: pointer;
  opacity: 0.85;
}

.legend {
  fill: white;
  font-size: 1rem;
  display: block;
  width: 30px;
  text-align: center;
  z-index: 20;
}

.legend_title {
  font-size: 1.3rem;
  fill: white;
  font-weight: bold;
}

.legend_container {
  width: 400px;
  height: 220px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  padding: 15px;
  position: relative;
}
